<h1>(id:
  <%=@cargo.id%>)
  <%=@cargo.name%></h1>

state
<%=@cargo.state%>

price
<%=@cargo.price%>
desc:<%=@cargo.description%>

<%= render EmployeeCommentComponent.with_collection(@employee_comments)%>
