<div class="dashboard_item my-3">
  <div class="row align-items-center">
    <div class="col-1">
      <%=link_to @employee.id, @employee%>
    </div>
    <div class="col-3">
      <%=link_to @employee.name, @employee%>
    </div>
    <div class="col-3">
      <%=@employee.email%>
    </div>
    <div class="col-2">
      <%=link_to @employee.phone, "tel:#{@employee.phone}"%>
    </div>
    <div class="col-3">
      <%=@employee.position%>
    </div>
  </div>
</div>
