<tr>
  <td><%=link_to @employee.id, @employee%></td>
  <td><%=link_to @employee.name, @employee%></td>
  <td><%=@employee.email%></td>
  <td><%=link_to @employee.phone, "tel:#{@employee.phone}"%></td>
  <td><%=@employee.position%></td>
</tr>
