<div class="dashboard_item my-3">
  <div class="row">
    <div class="col-1">
      <%=link_to @waybill.id, @waybill%>
    </div>
    <div class="col-3">
      <%=@waybill.state%>
    </div>
    <div class="col-2">
      <%=link_to @waybill.car.name, @waybill.car%>
    </div>
    <div class="col-3">
      <%=link_to @waybill.client.name, @waybill.client%>
    </div>
    <div class="col-3">
      <%=link_to @waybill.employee.name,@waybill.employee %>
    </div>
  </div>
</div>
