<h1 class="pb-0">(#<%=@event.id%>)
  <%=@event.name%>
</h1>
<div class="row align-items-center mt-4">
  <div class="col-6 d-flex justify-content-end">
    Статус події:
  </div>
  <div class="col-6 d-flex justify-content-start">
    <b><%=@event.event_status%></b>
  </div>
</div>
<div class="row align-items-center mt-2">
  <div class="col-6 d-flex justify-content-end">
    Тип події:
  </div>
  <div class="col-6 d-flex justify-content-start">
    <b><%=@event.event_type%></b>
  </div>
</div>
<div class="row align-items-center mt-2">
  <div class="col-6 d-flex justify-content-end">
    Причасні працівники:
  </div>
  <div class="col-6 d-flex justify-content-start">
    <b><% @event.employees.each do |employee|%>
      <%=link_to employee.name,employee %>
    <%end%></b>
  </div>
</div>
<div class="row align-items-center my-2">
  <div class="col-6 d-flex justify-content-end">
    Використані автомобілі:
  </div>
  <div class="col-6 d-flex justify-content-start">
    <b><% @event.cars.each do |car|%>
      <%=link_to car.name,car %>
    <%end%></b>
  </div>
</div>
<div class="row align-items-center mb-4">
  <div class="col-6 d-flex justify-content-end">
    Опис події:
  </div>
  <div class="col-6 d-flex justify-content-start">
    <b><%=@event.description%></b>
  </div>
</div>

<%= render "employee_comments/form", object:@event%>
<%if @employee_comments.any?%>
<div class="row">
  <h4 class="mt-4 mb-3">Відгуки або скарги</h4>
  <%= render EmployeeCommentComponent.with_collection(@employee_comments)%>
</div>
<%end%>
