
<%= form_for @waybill do |f| %>
<div class="dashboard_form my-5">
  <h1 class="text-center">Створення накладної</h1>
    <%= f.select :car, Car.all.map{|car|[car.name,car.id]}, class: "form-control" %>

    <%= f.select :employee, Employee.all.map{|employee|[employee.name,employee.id]}, class: "form-control" %>

    <%= f.select :place_of_dispatch, Place.all.map{|place|[place.name,place.id]}, class: "form-control" %>

    <%= f.select :place_of_arrival, Place.all.map{|place|[place.name,place.id]}, class: "form-control" %>

    <div class=" text-center">
      <%= f.submit "Додати накладну", class:"add-project"%>
    </div>
</div>
<% end %>
