<nav class="navbar navbar-dark home_bar">
  <div class="container">
    <a class="navbar-brand" href="/">
      Carsteck
    </a>
    <div class="ms-auto">
      <%= link_to "Працівник", employees_path, class: "add-project"%>
    </div>
  </div>
</nav>
<header class="py-5 mb-3 mb-lg-5">
  <div class="container">
    <% flash.each do |key, message| %>
      <p class="<%= key %>"><%= message %></p>
    <% end %>
    <h1>Ексклюзивний сервіс доставки на ринку України за рекордно короткий термін з будь-якої точки світу</h1>
    <div class="row mt-3">
      <div class="col-12 col-lg-4 mb-5 mb-lg-0 px-3">
        <%= link_to "/#negebar", class: "img_block d-block" do %>
          <%= image_tag '/1.jpg', class: "header_img" %>
          <span class="img_name d-block">Негабаритні</span>
        <% end %>
      </div>
      <div class="col-12 col-lg-4 mb-5 mb-lg-0 px-3">
        <%= link_to "/#mizhnar", class: "img_block d-block" do %>
          <%= image_tag '/2.jpg', class: "header_img" %>
          <span class="img_name d-block">Міжнародні</span>
        <% end %>
      </div>
      <div class="col-12 col-lg-4 mb-5 mb-lg-0 px-3">
        <%= link_to "/#ukraine", class: "img_block d-block" do %>
          <%= image_tag '/3.jpg', class: "header_img" %>
          <span class="img_name d-block">По Україні</span>
        <% end %>
      </div>
    </div>
  </div>
</header>
<div class="container">

<section class="gruz" id="negebar">
  <h2>Перевезення негабаритних вантажів</h2>
  <p><strong>Негабаритний вантаж</strong>&nbsp;– це вантаж, розміри або вага якого перевищують типові стандартні розміри. Транспортування цього вантажу відбувається за особливих умов,&nbsp;<strong>спецтранспортом</strong>, який підбирається відповідно «під розміри» вантажу.</p>
  <p>Наприклад, для&nbsp;<strong>перевезення негабаритних вантажів</strong>&nbsp;з великою висотою доцільніше використовувати низькорамну платформу для того, щоб висота вантажу, який транспортується була якомога меншою. Для&nbsp;<strong>важкого вантажу</strong>&nbsp;потрібно використовувати платформи з великою вантажопідйомністю та великою кількістю осей, щоб не псувати дорожнє полотно і оптимально розподілити вагу вантажу по площині платформи. Такі перевезення називають<strong>&nbsp;негабаритні</strong>&nbsp;і наша компанія одна з тих, хто професійно займається організацією та здійсненням міжнародної та внутрішньої перевезення негабаритних і великовагових вантажів.</p>
  <h5>Для здійснення даного виду перевезень ми маємо такі можливості:</h5>
  <ul><li>Досвідчений кваліфікований персонал: менеджери-логісти з великим багаторічним досвідом роботи.</li><li>Професійні водії зі стажем роботи в даній галузі.</li><li>Власна чисельний автопарк для здійснення негабаритних перевезень, що дозволяє уникати для прямого замовника посередницьких витрат.</li><li>Модернізований парк спецплатформи, середній вік яких становить 5-6 років, що дозволяє вчасно і надійно доставляти вантажі без поломок в дорозі.</li><li>Ми беремо на себе всі організаційні завдання: виготовлення спецдозволів, супроводу, перепусток, відключення мереж, навантажувально-розвантажувальні роботи, та інше.</li><li>Обов’язкове cmr-страхування вантажу, tir-страхування, додаткове страхування, згідно заявлених обсягів.</li><li>Ми є асоційованим членом АсМАП України № 71638.</li></ul>
</section>
<section class="gruz mt-5" id="mizhnar">
  <h2>Міжнародні вантажні перевезення</h2>
  <p><strong>Міжнародні вантажні перевезення</strong> – це в першу чергу персональна відповідальність за ваш вантаж, створення оптимальних логістичних маршрутів, виконання замовлень будь-якої складності. Команда професіоналів ретельно прораховує вартість доставки, щоб клієнти не переплачували. А все транспортування виконуємо з максимальною акуратністю і пунктуальністю.</p>
  <p>Скористатися послугами нашої компанії для фірм – означає розширити клієнтську базу за рахунок іноземних партнерів і збільшити дохід. Якщо фірма тільки почала розвиватися, то природно у неї немає можливості мати власний автопарк. Тому співпрацювати з нами – це найкраще рішення в даній ситуації.</p>
  <h5>Міжнародні автомобільні перевезення повнокомплектних і збірних вантажів:</h5>
  <ul>
    <li>Перевезення вантажів з України в країни Європи і в зворотному напрямку.</li>
    <li>Перевезення вантажів по території всіх країн Європи.</li>
    <li>Перевезення між країнами Європи та СНД.</li>
    <li>Перевезення збірних вантажів усередині Європи за схемою «door to door».</li>
    <li>Оформлення експортних і транзитних документів (ЕХ1, Т1, CMR, TIR).</li>
    <li>Консолідація і зберігання на складах в країнах Євросоюзу.</li>
    <li>Митне оформлення.</li>
    <li>Страхування грузів.</li>
  </ul>
</section>
<section class="gruz my-5" id="ukraine">
  <h2>Вантажні перевезення по Україні</h2>
  <p><strong>Перевезення вантажів по Україні</strong> – це щоденна необхідність для багатьох фірм і приватних осіб. Кожній людині може знадобитися перевезти певний вантаж з одного міста в інший. І якщо це відстань велика, то самостійно здійснити операцію неможливо. Адже для перевезення потрібен спеціальний транспорт.</p>
  <p>Наша компанія пропонує транспортні послуги з перевезень незалежно від типу вантажу і особливостей його транспортування. Команда професійних водіїв з готовністю подолає найскладніший шлях, щоб доставити вчасно вантаж у вказане місце. Великий парк транспорту дозволяє нам братися за виконання найрізноманітніших замовлень. Доставка вантажів по Україні здійснюється постійно, незалежно від погодних умов. При цьому клієнт оплачує тільки економічно обґрунтованої суми за надані транспортні послуги перевезення вантажів.</p>
  <p>Ми перевозимо всі види вантажів – рідкі, сипучі, великогабаритні (техніку, спецобладнання), продукти харчування, небезпечні вантажі. Звичайно, від особливостей вантажу залежить вартість транспортування. Але в будь-якому випадку вона формується таким чином, щоб залишалася максимально доступною для клієнтів. Може здійснювати перевезення від дверей до дверей або за адресою. При цьому кожен клієнт може бути впевнений, що його вантаж прибуде вчасно. Для вантажів, що потребують особливих умов, у нас є спецобладнання у вигляді цистерн, холодильних фургонів і інших.</p>
</section>
</div>
<section class="form py-5">
  <div class="container">
    <h2 class="text-center mb-4">Перевірити статус вантажу</h2>
    <%= form_tag waybills_path, method: :get do |f|%>
      <div class="field my-3">
        <input type="number" name="id" placeholder="Введіть ID вашого вантажу">
      </div>
      <div class="text-center">
        <input type="submit" value="Перевірити статус" class="add-project">
      </div>

    <%end%>
  </div>
</section>

<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 col-xl-6">
        <div class="container my-5">
          <div class="row">
            <div class="col-12 col-md-4">

            </div>
            <div class="col-12 col-md-8">
              <div class="part_1">
                <h3>Контакти</h3>
                <div class="footer_item">
                  <p>Наші адміністратори дадуть відповідь на всі Ваші запитання. </p>
                  <p><small>А також допоможуть вирішити будь-яку організаційну проблему і приймуть заявку на перевезення.</small></p>
                </div>
                <div class="footer_item">
                  <p>Телефон: <a href="tel: +380 97 519 92 15">+380 97 519 92 15</a></p>
                </div>
                <div class="footer_item">
                  <p>Email: <a href="mail:iamyurii.stanko@gmail.com">iamyurii.stanko@gmail.com</a></p>
                </div>
              </div>
              <div class="part_2">
                <hr>
                <a class="navbar-brand" href="/">
                  Carsteck
                </a>
                <p><small>2021 Carsteck, Усі права захищено</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-xl-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2638.1318070489187!2d22.262084815779442!3d48.60732022630544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473918fbae129dc9%3A0x3cc1067e3cbb074a!2z0LLRg9C70LjRhtGPINCi0LvQtdGF0LDRgdCwLCAyMiwg0KPQttCz0L7RgNC-0LQsINCX0LDQutCw0YDQv9Cw0YLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwgODgwMDA!5e0!3m2!1suk!2sua!4v1621064720663!5m2!1suk!2sua" width="100%" height="400px;" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>
</footer>
