<nav>
  Можеш зробити і типу сідебара
  <%= link_to "Працівники", employees_path%>
  <%= link_to "Автопарк", cars_path%>

  <%= link_to "Місця", places_path%>

  <%= link_to "Клієнти", clients_path%>

  <%= link_to "Події", events_path%>

  Вийти
</nav>
