<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard TransitMoon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <script type="text/javascript">
      document.addEventListener("turbolinks:load", function () {
        <% while (select_flash = get_flash) do %>
        toastr['<%= select_flash[:type] %>']('<%= select_flash[:text]&.html_safe %>');
        <% end %>
      })
    </script>
  <div class="container-fluid display-table">
    <div class="row display-table-row">
      <%= render "layouts/navbar"%>
      <div class="col-md-10 col-sm-11 display-table-cell v-align">
        <div class="row">
          <header class="d-flex">
            <nav class="navbar-default pull-left">
              <div class="navbar-header">
              </div>
            </nav>
            <div class="ms-auto">
              <% if employee_signed_in? %>
                <%= link_to "Вийти", destroy_employee_session_path, method: :DELETE%>
              <%else%>
                <%= link_to "Повернутися до головної", root_path%>
              <%end%>
            </div>
          </header>
        </div>
        <div class="user-dashboard">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
